---
title: Theis 
---

<link href="https://fonts.googleapis.com/css?family=Inconsolata|Six+Caps|Dorsa" rel="stylesheet">

<h1>Theis</h1>

<p>
  Boston indie pop songwriter and multi-instrumentalist. 
</p>

<%= link_to(
  "Email",
  "mailto:emilytheis@gmail.com",
  target: "_blank"
) %> 